* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  font-family: Helvetica, sans-serif;
}

.calculator {
  background-color: #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 320px;
  margin: 50px auto;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr repeat(5, 60px);
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.display {
  grid-column: 1 / -1;
  background-color: #EFEFEF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
}

.btn {
  background-color: #FFF;
  color: #333;
  font-size: 2em;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.btn:active {
  box-shadow: none;
}

.btn.gray {
  background-color: #EFEFEF;
  color: #333;
}

.btn.orange {
  background-color: #FF9500;
  color: #FFF;
}

.btn.red {
  background-color: #FF3B30;
  color: #FFF;
}

.btn.blue {
  background-color: #007AFF;
  color: #FFF;
}

.btn.green {
  background-color: #4CD964;
  color: #FFF;
}
